{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}

    {{ form_start(formLieu) }}
        {{ form_widget(formLieu) }}
        <section>
            <button form="creation_lieu" type="submit">
                Envoyer
            </button>


            <a href="{{ path('creation_sortie') }}"><button type="button">Annuler</button></a>

        </section>
    {{ form_end(formLieu) }}


{% endblock %}
