{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}

    {{ form_start(formLieu) }}
        {{ form_widget(formLieu) }}
        <section>
            <button form="creation_lieu" type="submit">
                Envoyer
            </button>

            <button type="button">
                <a href="{{ path('creation_sortie') }}">Annuler</a>
            </button>
        </section>
    {{ form_end(formLieu) }}


{% endblock %}
