{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}

    {{ form_start(formLieu) }}
        {{ form_widget(formLieu) }}
        <section>
            <button type="submit">
                Envoyer
            </button>
        </section>
    {{ form_end(formLieu) }}

{% endblock %}
