{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="form-login">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="form-login-input">
            <label for="inputPseudo">Pseudo</label>
            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
        </div>

        <div class="form-login-input">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>

    </div>

</form>
{% endblock %}
