body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

header img {
    height: 70px;
}

main {
    flex: 1;


}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

.info-participant{
    display: flex;
    flex-direction: column;
    align-items: end;

}

table, th, td {
    border: 1px solid black;
}

.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-interval{
    display: flex;
    justify-content: space-between;
}

.form-annuler-sortie {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    grid-gap: 3rem;

}

.form-annuler-sortie-bouton {
    width: 100%;
}

.section-champ {
    display: flex;

    grid-gap: 2rem;
}

.section-champ-detail {
    display: flex;

    grid-gap: 2rem;
}

.section-champ div:first-child{
    font-weight: bold;
    width: 12rem;
}

.section-champ-detail div:first-child{
    font-weight: bold;
    width: 12rem;
}

.section-champ-detail div {
    width: 50%;
}

.section-bouton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}



.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4rem;
}

.afficherDetailSortie {
    display: flex;
    grid-gap: 7rem;
    width: 75%;
}

.divLaterale{
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;

}

.form-profil form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2rem;
}

.form-profil form div{
    display: flex;
    grid-gap: 2rem;
}

.form-profil form div label {
    width: 15rem;
    font-weight: bold;

}

.form-profil form div input {
    width: 20rem;

}

.form-profil form div:last-of-type {
    display: flex;
    justify-content: center;

}

.form-profil form div:last-of-type button {
    width: 7rem;
}











.flash {
    padding: 1rem;
    color: black;
}

.flash-success {
    background-color: lightgreen;
}

.flash-error {
    background-color: indianred;
}




/*form {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

/*#sortie {*/
/*    width: 35%;*/
/*}*/

/*#sortie div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*button, select, input, textArea {*/
/*    text-transform: none;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/