body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

header img {
    height: 70px;
}

main {
    flex: 1;


}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}



/*Page Accueil: date du jour et info utilisateur*/
.info-participant{
    display: flex;
    flex-direction: column;
    align-items: end;

}



/*Page Afficher profil utilsateur*/
.afficherProfil {
    display: flex;
    grid-gap: 5rem;

}

.photo-profil {

    height: 15rem;

}

/*Formulaire filtres page accueil*/
.afficherFiltres {
    display: flex;
    grid-gap: 2rem;
    flex-direction: column;
}

.filtres {
    display: flex;
    align-items: center;
    grid-gap: 15rem;

}

.filtres label {
    font-weight: bold;

}

.filtres-input {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

}
.filtres-submit {
    margin-top: 2rem;
    margin-bottom: 5rem;
}


.filtres-input div {
    display: flex;
}

.filtres-input  label {
    width: 15rem;;
}

.filtres-checkbox {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}


.date-interval{
    display: flex;
    justify-content: space-between;
}





/*Tableau de sorties*/
table{
    border-collapse: collapse;
    overflow-y: scroll;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}





.form-annuler-sortie {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    grid-gap: 3rem;

}

.form-annuler-sortie-bouton {
    width: 100%;
}

.section-champ {
    display: flex;

    grid-gap: 2rem;
}

.section-champ-detail {
    display: flex;
    width: 30rem;
    grid-gap: 2rem;
}

.section-champ div:first-child{
    font-weight: bold;
    width: 12rem;
}

.section-champ-detail div:first-child{
    font-weight: bold;
    width: 15rem;
}

.section-champ-detail div {
    width: 50%;
}

.section-bouton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}



.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4rem;
    font-size: 1.1rem;

}

.afficherDetailSortie {
    display: flex;
    grid-gap: 7rem;
    width: 100%;


}

.divLaterale{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;

}

.form-profil form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2rem;
}

.form-profil form div{
    display: flex;
    grid-gap: 2rem;
}

.form-profil form div label {
    width: 15rem;
    font-weight: bold;

}

.form-profil form div input {
    width: 20rem;

}

.form-profil form div:last-of-type {
    display: flex;
    justify-content: center;

}

.form-profil form div:last-of-type button {
    width: 7rem;
}
/*

Création d'une sortie

 */
.container-creation-sortie {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.container-creation-sortie div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.container-creation-sortie div input, textarea, select {
    width: 20rem;

}

.container-creation-sortie button{
    height: fit-content;
}


.container-creation-sortie #organisateur h3{
    width: 40%;
}
/*

Message d'erreurs/succès


 */
.flash {
    padding: 1rem;
    color: black;
}

.flash-success {
    background-color: lightgreen;
}

.flash-error {
    background-color: indianred;
}

