body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

header img {
    height: 70px;
}

main {
    flex: 1;


}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

.info-participant{
    display: flex;
    flex-direction: column;
    align-items: end;

}

table, th, td {
    border: 1px solid black;
}

.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-interval{
    display: flex;
    justify-content: space-between;
}

.form-annuler-sortie {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    grid-gap: 3rem;

}

.section-champ {
    display: flex;
    justify-content: space-between;
}

.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4rem;
}


/*form {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

/*#sortie {*/
/*    width: 35%;*/
/*}*/

/*#sortie div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*button, select, input, textArea {*/
/*    text-transform: none;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/