body {
    background-image: url("../images/pexels-pixabay-260922.jpg");
    backdrop-filter: blur(4px);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-size: 1.1rem;
    color: #EEE;
    font-family: 'Roboto', serif;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

header img {
    height: 70px;
}

footer {
    display: flex;
    justify-content: center;
}


button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: fit-content;

}

button:hover {
    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}



main {
    flex: 1;

}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

/*Page de login*/

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
}

.form-login-input {
    display: flex;
    flex-direction: column;
}




/*Page Accueil: date du jour et info utilisateur*/
.info-participant{
    display: flex;
    flex-direction: column;
    align-items: end;

}



/*Page Afficher profil utilsateur*/
.afficherProfil {
    display: flex;
    grid-gap: 5rem;

}

.photo-profil {

    height: 15rem;

}

/*Formulaire filtres page accueil*/
.afficherFiltres {
    display: flex;
    grid-gap: 2rem;
    flex-direction: column;
}

.filtres {
    display: flex;
    align-items: center;
    grid-gap: 5rem;

}

.filtres label {
    font-weight: bold;

}

.filtres-input {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

}
.filtres-submit {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.filtres-checkbox div {
    height: 1.5rem;

}


.filtres-input div {
    display: flex;
    height: 1.5rem;
}

.filtres-input  label {
    width: 15rem;;
}

.filtres-checkbox {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}


.date-interval{
    display: flex;
    justify-content: space-between;
}


/*Tableau de sorties*/
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    border: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 2rem;
}
th{
    padding: 20px 8px;
    text-align: left;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 19px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


/*

Annuler une sortie

 */
.form-annuler-sortie {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    grid-gap: 3rem;

}

.form-annuler-sortie-bouton {
    width: 100%;
}

.section-champ {
    display: flex;

    grid-gap: 2rem;
}

.section-champ-detail {
    display: flex;
    width: 30rem;
    grid-gap: 2rem;
}

.section-champ div:first-child{
    font-weight: bold;
    width: 12rem;
}

.section-champ-detail div:first-child{
    font-weight: bold;
    width: 15rem;
}

.section-champ-detail div {
    width: 50%;
}

.section-bouton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4rem;
    font-size: 1.1rem;

}

.afficherDetailSortie {
    display: flex;

    width: 77%;


}

.divLaterale{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;

}

.form-profil form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2rem;
}

.form-profil form div{
    display: flex;
    grid-gap: 2rem;
}

.form-profil form div label {
    width: 15rem;
    font-weight: bold;

}

.form-profil form div input {
    width: 20rem;

}

.form-profil form div:last-of-type {
    display: flex;
    justify-content: center;

}

.form-profil form div:last-of-type button {
    width: 7rem;
}
/*

Création d'une sortie

 */
.container-creation-sortie {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.container-creation-sortie div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.container-creation-sortie div input, textarea, select {
    width: 20rem;

}

.container-creation-sortie button{
    height: fit-content;
}


.container-creation-sortie #organisateur h3{
    width: 40%;
}
.container-creation-sortie label{
    font-weight: bold;
}
/*

Création d'un lieu

 */
#creation_lieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 2rem;
}

#creation_lieu div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#creation_lieu input, select{
    width: 20rem;
}

#creation_lieu div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 10rem;
}


/*
   Modification d'une sortie
*/
.container-modification-sortie {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.container-modification-sortie div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.container-modification-sortie div input, textarea, select {
    width: 20rem;

}

/*

Message d'erreurs/succès


 */
.flash {
    padding: 1rem;
    color: black;
}

.flash-success {
    background-color: lightgreen;
}

.flash-error {
    background-color: indianred;
}

