<nav>

    
    {% if app.user %}
        <ul>
            <li>
                <a href="{{ path('accueil') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('profil_connecte') }}">Mon profil</a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
    {% endif %}

</nav>